@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 800;
}
.button {
  display: inline-block;
  padding: 12px 36px;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}
.button--primary {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  word-spacing: 0;
  background-color: #3734a9;
  padding-block: 16px;
}
.button--primary:hover {
  background-color: rgb(32.1538461538, 30.4, 98.8);
  transition: 0.3s;
}
.button--brown {
  background-color: #ff7f5c;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  word-spacing: 0;
}
.button--brown:hover {
  background-color: rgb(255, 54.9116564417, 0.2);
  transition: 0.3s;
}
.button--lg {
  padding: 20px;
}
.button--rounded-lg {
  border-radius: 50px;
}
.button--rounded-sm {
  border-radius: 10px;
}

.container {
  padding: 64px 36px;
}
@media (min-width: 1096px) {
  .container {
    padding: 36px 128px;
  }
}
.container--blue {
  background-color: #3734a9;
}
.container--lightblue {
  background-color: #c9e7f2;
}
.container--primary {
  background: #62bada;
  background: linear-gradient(300deg, #62bada 0%, #c9e7f2 100%);
}
.container--gray {
  background-color: #f5f6f8;
}
.container--hero {
  position: relative;
}
.container--hero::after {
  content: "";
  background-image: url("/assets/images/backgrounds/pattern-1.png"), url("/assets/images/backgrounds/pattern-3.png");
  background-repeat: no-repeat;
  background-size: 110px, 110px;
  background-position: 0 90%, 100% calc(100% + 100px);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (min-width: 900px) {
  .container--hero::after {
    content: "";
    background-image: url("/assets/images/backgrounds/hero-bg.png"), url("/assets/images/backgrounds/pattern-1.png"), url("/assets/images/backgrounds/pattern-2.png"), url("/assets/images/backgrounds/pattern-3.png");
    background-repeat: no-repeat;
    background-size: 30%, 110px, 110px, 110px;
    background-position: 80% calc(100% + 50px), 0 90%, 100% 160px, 100% calc(100% + 100px);
    animation: moveUpDown 4s ease-in-out infinite;
  }
}
@keyframes moveUpDown {
  0% {
    background-position: 80% calc(100% + 50px), 0 90%, 100% 160px, 100% calc(100% + 100px);
  }
  50% {
    background-position: 80% calc(100% + 100px), 0 90%, 100% 160px, 100% calc(100% + 100px);
  }
  100% {
    background-position: 80% calc(100% + 50px), 0 90%, 100% 160px, 100% calc(100% + 100px);
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.row--gap-sm {
  gap: 8px;
}
.row--gap-md {
  gap: 16px;
}
.row--gap-lg {
  gap: 32px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 900px) {
  .icon {
    width: 18px;
    height: 18px;
  }
}
.icon--blue {
  background-color: #3734a9;
}
.icon--green {
  background-color: #22d497;
}
.icon__sprite {
  width: 8px;
  object-fit: contain;
}
.icon--lg {
  width: 60px;
  height: 60px;
}
.icon--lg__sprite {
  width: 25px;
  object-fit: contain;
}

.quote {
  background-color: #c4c4c4;
  padding: 36px;
  border-radius: 20px;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.quote::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 32px;
  width: 44px;
  height: 44px;
  background-image: url("/assets/icons/quote.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.quote--compact {
  width: 100%;
}
.quote__text {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  word-spacing: -2%;
}
.quote__source {
  margin-top: 16px;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  word-spacing: -2%;
}
@media (min-width: 900px) {
  .quote--compact {
    width: 402px;
  }
}

.card {
  padding: 36px 20px 36px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #ffffff;
  border: 1px solid #dbe4e9;
  border-radius: 10px;
  max-width: 600px;
  position: relative;
}
.card--expand-full {
  max-width: 100%;
}
@media (min-width: screen-md) {
  .card {
    max-width: 600px;
    width: 380px;
  }
  .card:hover {
    transform: translateY(-100px);
    transition: 0.3s;
    bottom: 100px;
  }
  .card--lg {
    width: 400px;
  }
}
.card--numbered {
  padding: 20px 20px 36px;
  border-radius: 20px;
}
.card--with-button {
  padding-bottom: 20px;
}
.card--blue-border {
  border-color: #abc8d2;
}
.card__number {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 22;
  line-height: auto;
  color: #000000;
  word-spacing: 0;
}
.card__icon {
  width: 50px;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px;
}
.card__content--center {
  align-items: center;
  text-align: center;
}
.card__about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 34px;
  color: #000000;
  word-spacing: -3%;
}
.card__title--small {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
  color: #000000;
  word-spacing: -3%;
}
.card__subtitle {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #64607d;
  word-spacing: -2%;
}
.card__subtitle--black {
  color: black;
}

.divider {
  background-color: #c4c4c4;
  height: 2px;
  width: 100%;
  display: block;
}
.divider--vertical {
  width: 2px;
  height: 100%;
}
.divider--dark {
  background-color: #3d3d3d;
}

.testimonial {
  display: flex;
  gap: 8px;
  padding: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  width: 699px;
  max-width: 100%;
  flex-shrink: 0;
  flex-direction: column-reverse;
  position: relative;
  overflow-y: visible;
}
.testimonial__image {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  margin-inline: auto;
}
.testimonial__content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 36px 20px 36px;
}
.testimonial__text {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  color: #000000;
  word-spacing: -2%;
}
.testimonial__author {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  word-spacing: -2%;
}
@media (min-width: 900px) {
  .testimonial {
    flex-direction: row;
  }
  .testimonial__image {
    height: 100%;
    max-width: 240px;
    width: unset;
    object-fit: contain;
    border-radius: 0;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.stat__number {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  word-spacing: -2%;
}
.stat__desc {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  word-spacing: -2%;
}
.stat__desc-icon {
  width: 20px;
  margin-right: 10px;
}
@media (min-width: 900px) {
  .stat__number {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 42px;
    color: #ffffff;
    word-spacing: -2%;
  }
  .stat__desc {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    word-spacing: -2%;
  }
}
@media (min-width: 1096px) {
  .stat__number {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    color: #ffffff;
    word-spacing: -2%;
  }
  .stat__desc {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    color: #ffffff;
    word-spacing: -2%;
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
}
.blog-card__head {
  gap: 4px;
}
.blog-card__image {
  max-width: 100%;
  height: auto;
}
.blog-card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 525px;
}
.blog-card__tag {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  word-spacing: 7%;
  text-transform: uppercase;
}
.blog-card__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  word-spacing: -2%;
}
@media (min-width: 900px) {
  .blog-card {
    max-width: 382px;
    gap: 32px;
  }
  .blog-card__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 525px;
  }
  .blog-card__tag {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: #000000;
    word-spacing: 7%;
    text-transform: uppercase;
  }
  .blog-card__title {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
    word-spacing: -2%;
  }
}
.blog-card--featured {
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  padding-block: 36px;
}
.blog-card--featured__image {
  height: auto;
  width: 100%;
  max-height: 500px;
}
.blog-card--featured__link {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #1b1c31;
  word-spacing: 0;
}
.blog-card--featured__link-icon {
  width: 12px;
  margin-left: 8px;
}
@media (min-width: 900px) {
  .blog-card--featured {
    flex-direction: row;
    max-height: 325px;
    max-width: 100%;
    width: 100%;
    padding-block: 36px;
  }
  .blog-card--featured__image {
    height: 100%;
    width: auto;
    max-width: 500px;
  }
}

.check-list {
  list-style-type: none;
  padding-left: 0;
}
.check-list__item {
  position: relative;
  padding-left: 26px;
  margin: 10px 0;
}
.check-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("/assets/icons/check.png");
  background-size: 8px 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3734a9;
  border-radius: 50%;
}
.check-list__item--yellow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("/assets/icons/check.png");
  background-size: 8px 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fdbc64;
  border-radius: 50%;
}

.text-input {
  padding: 12px;
  max-width: 250px;
  max-width: 100%;
  background-color: #eeeeff;
  color: #181433;
  border: 0;
  height: 51px;
}

.email-form {
  display: flex;
  gap: 0;
  align-items: center;
}

.input-info {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #64607d;
  word-spacing: -2%;
  max-width: 330px;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-up-animation {
  transform: translateY(-10%);
  opacity: 0;
}
.slide-up-animation--second {
  animation-delay: 0.2s;
}
.slide-up-animation--third {
  animation-delay: 0.3s;
}
.slide-up-animation--animate {
  animation-name: slideUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-20%);
  }
  30% {
    transform: translateX(-30%);
  }
  40% {
    transform: translateX(-40%);
  }
  50% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-30%);
  }
  70% {
    transform: translateX(-20%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 2px;
}
a:hover::after {
  width: 100%;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.header {
  display: flex;
  flex-direction: row;
  gap: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__logo-text {
  font-family: "Gilroy", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: auto;
  color: #000000;
  word-spacing: 0;
  flex-grow: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  background-color: #abc8d2;
  height: 100vh;
  padding: 64px 36px;
}
.nav__links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  list-style: none;
  width: 100%;
}
.nav__link {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: auto;
  color: #000000;
  word-spacing: 0;
  cursor: pointer;
}
.nav__link--expandable::after {
  content: "";
  display: inline-block;
  width: 14px; /* Set width for the icon */
  height: 7px;
  margin-left: 12px;
  margin-top: -2px;
  background-image: url("../../assets/icons/caret-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.nav__auth {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
@media (min-width: 1096px) {
  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: unset;
    height: unset;
    padding: 0;
    flex-grow: 1;
    width: unset;
  }
  .nav__links {
    flex-direction: row;
    width: unset;
  }
  .nav__auth {
    flex-direction: row;
    align-items: center;
    width: unset;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-block: 128px 128px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.hero__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  word-spacing: -3%;
  width: 670px;
  max-width: 100%;
}
.hero__subtitle {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #64607d;
  word-spacing: -2%;
  width: 510px;
  max-width: 100%;
}
.hero__cta {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.hero__cta-text {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #3734a9;
  word-spacing: -2%;
}
.hero__features {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.hero__feature {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #757095;
  word-spacing: -2%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media (min-width: 900px) {
  .hero__cta {
    flex-direction: row;
  }
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-block: 36px 100px;
  overflow: hidden;
  position: relative;
}
.partners__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 22;
  line-height: auto;
  color: #000000;
  word-spacing: 0;
}
.partners__brands {
  position: absolute;
  top: 98px;
  max-width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  animation: moveLeftRight 8s infinite ease-in-out;
}
.partners__brands:hover {
  animation-play-state: paused;
}
.partners__brand-image {
  max-width: 138px;
}

.portfolio-tracking {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-block: 36px;
}
.portfolio-tracking__head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 1096px) {
  .portfolio-tracking__head {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.portfolio-tracking__about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.portfolio-tracking__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #000000;
  word-spacing: -3%;
  width: 645px;
  max-width: 100%;
}
.portfolio-tracking__subtitle {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
  word-spacing: -2%;
  width: 450px;
  max-width: 100%;
}
.portfolio-tracking__steps {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 64px;
}
.portfolio-tracking__steps > div:nth-child(odd) {
  margin-left: auto;
}
@media only screen and (min-width: 900px) {
  .portfolio-tracking__steps {
    gap: 16px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.feature__image {
  width: 100%;
  z-index: -1;
}
.feature__about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.feature__head {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.feature__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.feature__tag {
  text-transform: uppercase;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: auto;
  color: #3734a9;
  word-spacing: -2%;
}
.feature__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  word-spacing: -3%;
}
.feature__subtitle {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #64607d;
  word-spacing: -2%;
}
.feature__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.feature__list-item {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #64607d;
  word-spacing: -2%;
  margin-left: 16px;
}
@media only screen and (min-width: 900px) {
  .feature {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  .feature__image {
    min-width: 500px;
  }
}

.features {
  padding-block: 128px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.features__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #000000;
  word-spacing: -3%;
}
.features__subtitle {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
  word-spacing: -2%;
  width: 557px;
  max-width: 100%;
}
.features__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.features__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media (min-width: 900px) {
  .features__title {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 71px;
    line-height: 66px;
    color: #000000;
    word-spacing: -3%;
  }
  .features__items {
    flex-direction: row;
    gap: 8px;
  }
  .features__group {
    gap: 32px;
  }
}

.testimonials {
  padding-block: 128px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.testimonials__head {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.testimonials__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #000000;
  word-spacing: -3%;
  word-break: break-all;
}
.testimonials__subtitle {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
  word-spacing: -2%;
  width: 557px;
  max-width: 100%;
}
.testimonials__items {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: hidden;
}
@media (min-width: 900px) {
  .testimonials__title {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 71px;
    line-height: 66px;
    color: #000000;
    word-spacing: -3%;
  }
}

@media (min-width: 900px) {
  .testimonials__items {
    flex-wrap: nowrap;
  }
  .testimonial {
    flex-direction: row;
  }
  .testimonial__image {
    height: 100%;
    max-width: 240px;
    width: unset;
    object-fit: contain;
    border-radius: 0;
  }
}
.stats {
  padding-block: 36px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.stats__subtitle {
  display: none;
}
.stats__items {
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
}
@media (min-width: 900px) {
  .stats__subtitle {
    display: block;
    padding-left: 36px 20px 20px;
    width: 143px;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: #ffffff;
    word-spacing: -2%;
  }
}

.blogs__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 71px;
  line-height: 66px;
  color: #000000;
  word-spacing: -3%;
  padding-block: 64px;
}
.blogs__items {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faq__title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #000000;
  word-spacing: -3%;
  padding-block: 36px;
  max-width: 590px;
}
.faq__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  align-items: start;
}
.faq__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq__item {
  border: 1px solid #cfcfcf;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}
.faq__question {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: #000000;
  word-spacing: 0;
  display: block;
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}
.faq__question::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/expand.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.faq__answer {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #000000;
  word-spacing: -2%;
  margin-top: 32px;
  transition: 1s;
}
@media (min-width: 900px) {
  .faq__content {
    grid-template-columns: 2fr 1fr;
  }
  .faq__title {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 71px;
    line-height: 76px;
    color: #000000;
    word-spacing: -3%;
  }
}

.banner {
  background-color: #3734a9;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 128px 64px;
  border-radius: 20px;
  text-align: center;
  background-image: url("/assets/doodles/dots.png"), url("/assets/doodles/curve-horizontal.png"), url("/assets/doodles/curve-vertical.png"), url("/assets/doodles/triangles-1.png"), url("/assets/doodles/triangles-2.png");
  background-repeat: no-repeat;
  background-size: 148px, 105px, 16px, 161px, 83px;
  background-position: 20% 20%, 85% 10%, 10% 85%, 90% 85%, 20% 65%;
}
@media (min-width: 900px) {
  .banner {
    background-image: url("/assets/doodles/dots.png"), url("/assets/doodles/curve-horizontal.png"), url("/assets/doodles/curve-vertical.png"), url("/assets/doodles/triangles-1.png"), url("/assets/doodles/triangles-2.png");
    background-repeat: no-repeat;
    background-size: 148px, 105px, 16px, 161px, 83px;
    background-position: 20% 20%, 85% 10%, 10% 85%, 90% 85%, 20% 65%;
  }
}
.banner__text {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
  color: #ffffff;
  word-spacing: -3%;
  max-width: 100%;
}
@media (min-width: 900px) {
  .banner__text {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 61px;
    color: #ffffff;
    word-spacing: -3%;
    max-width: 768px;
  }
}

.footer {
  padding-block: 36px;
}
.footer__main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-block: 64px;
}
.footer__company-name {
  font-family: "Gilroy", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 28px;
  color: #000000;
  word-spacing: -2%;
}
.footer__company-desc {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #757095;
  word-spacing: -2%;
  max-width: 213px;
}
.footer__social-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__social-icon {
  width: 20px;
  height: auto;
  padding-bottom: 4px;
}
.footer__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.footer__section-title {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #000000;
  word-spacing: 0;
}
.footer__section-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  word-spacing: 0;
}
.footer__section-body--compact {
  gap: 8px;
}
.footer__copyright {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #181433;
  word-spacing: -2%;
  text-align: center;
  padding-top: 64px;
}
@media (min-width: 900px) {
  .footer__main {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
