@mixin slide-up($delay: 0.1s) {
  transform: translateY(-10%);
  opacity: 0;
  animation: slideUp 0.3s ease-out forwards;
  animation-delay: $delay;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-animation {
  transform: translateY(-10%);
  opacity: 0;

  // Define animation delay for specific classes
  &--second {
    animation-delay: 0.2s;
  }

  &--third {
    animation-delay: 0.3s;
  }

  // Trigger animation without resetting the delay
  &--animate {
    animation-name: slideUp;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-10%);
  }
  30% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-30%);
  }
  70% {
    transform: translateX(-20%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes moveUpDown {
  0% {
    background-position: 80% calc(100% + 50px), 0 90%, 100% 160px,
      100% calc(100% + 100px);
  }
  50% {
    background-position: 80% calc(100% + 100px), 0 90%, 100% 160px,
      100% calc(100% + 100px);
  }
  100% {
    background-position: 80% calc(100% + 50px), 0 90%, 100% 160px,
      100% calc(100% + 100px);
  }
}
