@mixin flex(
  $direction: row,
  $gap: $gap-sm,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

.container {
  padding: $p-xl $p-lg;
  @media (min-width: $screen-lg) {
    padding: $p-lg $p-xxl;
  }

  &--blue {
    background-color: $blue;
  }

  &--lightblue {
    background-color: #c9e7f2;
  }
  &--primary {
    background: #62bada;
    background: linear-gradient(300deg, #62bada 0%, #c9e7f2 100%);
  }
  &--gray {
    background-color: #f5f6f8;
  }

  &--hero {
    position: relative;

    &::after {
      content: "";
      background-image: url("assets/doodles/pattern-1.png"),
        url("assets/doodles/pattern-3.png");

      background-repeat: no-repeat;
      background-size: 110px, 110px;
      background-position: 0 90%, 100% calc(100% + 100px);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    @media (min-width: $screen-md) {
      &::after {
        content: "";
        background-image: url("assets/images/backgrounds/hero-bg.png"),
          url("assets/doodles/pattern-1.png"),
          url("assets/doodles/pattern-2.png"),
          url("assets/doodles/pattern-3.png");

        background-repeat: no-repeat;
        background-size: 30%, 110px, 110px, 110px;
        background-position: 80% calc(100% + 50px), 0 90%, 100% 160px,
          100% calc(100% + 100px);
        animation: moveUpDown 3s ease-in-out infinite;
      }
    }
  }
}

.row {
  @include flex(row, auto, flex-start, center);
  &--gap-sm {
    gap: $gap-sm;
  }

  &--gap-md {
    gap: $gap-md;
  }

  &--gap-lg {
    gap: $gap-lg;
  }
}
