.quote {
  background-color: #c4c4c4;
  padding: $p-lg;
  border-radius: 20px;
  position: relative;

  max-width: 100%;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 32px;
    width: 44px;
    height: 44px;
    background-image: url("../../assets/icons/quote.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--compact {
    width: 100%;
  }
  &__text {
    @include font(500, 15px, 22px, $black);
  }

  &__source {
    margin-top: $m-md;
    @include font(500, 15px, 22px, $black);
  }

  @media (min-width: $screen-md) {
    &--compact {
      width: 402px;
    }
  }
}

.card {
  padding: $p-lg $p-md $p-lg;
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  background-color: $white;
  border: 1px solid #dbe4e9;
  border-radius: 10px;
  max-width: 600px;
  position: relative;

  &--expand-full {
    max-width: 100%;
  }
  @media (min-width: screen-md) {
    &:hover {
      transform: translateY(-100px);
      transition: 0.3s;
      bottom: 100px;
    }
    max-width: 600px;
    width: 380px;
    &--lg {
      width: 400px;
    }
  }

  &--numbered {
    padding: $p-md $p-md $p-lg;
    border-radius: 20px;
  }
  &--with-button {
    padding-bottom: $p-md;
  }
  &--blue-border {
    border-color: #abc8d2;
  }
  &__number {
    @include font(800, 22, auto, $black, 0);
  }

  &__icon {
    width: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
    padding: $p-sm;
    &--center {
      align-items: center;
      text-align: center;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }
  &__title {
    @include font(800, 30px, 34px, $black, -3%);
    &--small {
      @include font(800, 22px, 35px, $black, -3%);
    }
  }

  &__subtitle {
    @include font(500, 14px, 26px, $gray);
  }
  &__subtitle--black {
    color: black;
  }
}

.divider {
  background-color: #c4c4c4;
  height: 2px;
  width: 100%;
  display: block;

  &--vertical {
    width: 2px;
    height: 100%;
  }

  &--dark {
    background-color: #3d3d3d;
  }
}

.testimonial {
  display: flex;
  gap: $gap-sm;
  padding: $p-md;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  width: 425px;
  max-width: 100%;
  flex-shrink: 0;
  flex-direction: column-reverse;
  position: relative;
  overflow-y: visible;

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 32px;
    width: 44px;
    height: 44px;
    background-image: url("../../assets/icons/quote.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
  }
  &__image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    margin-inline: auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
    padding: $p-lg $p-md $p-lg;
  }

  &__text {
    @include font(600, 25px, 36px, $black);
  }
  &__author {
    @include font(600, 20px, 22px, $black);
  }
  @media (min-width: $screen-md) {
    flex-direction: row;
    width: 699px;

    &__image {
      height: 100%;
      max-width: 240px;
      width: unset;

      object-fit: contain;
      border-radius: 0;
    }
  }
}

.stat {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  &__number {
    @include font(600, 36px, 36px, $white);
  }
  &__desc {
    @include font(400, 16px, 16px, $white);
  }

  &__desc-icon {
    width: 20px;
    margin-right: 10px;
  }
  @media (min-width: $screen-md) {
    &__number {
      @include font(800, 42px, 42px, $white);
    }
    &__desc {
      @include font(400, 24px, 24px, $white);
    }
  }

  @media (min-width: $screen-lg) {
    &__number {
      @include font(800, 72px, 72px, $white);
    }
    &__desc {
      @include font(400, 30px, 31px, $white);
    }
  }
}

.blog-card {
  display: flex;
  flex-direction: column;

  gap: $gap-sm;

  max-width: 100%;

  &__head {
    gap: $gap-xs;
  }

  &__image {
    max-width: 100%;
    height: 202px;
    object-fit: cover;
    margin-top: auto;
  }

  &__content {
    padding: $p-md;
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    max-width: 525px;
  }

  &__tag {
    @include font(600, 14px, 22px, $black, 7%);
    text-transform: uppercase;
  }

  &__title {
    @include font(600, 24px, 24px, $black);
  }

  @media (min-width: $screen-md) {
    max-width: 382px;
    gap: $gap-lg;
    &__content {
      padding: $p-md;
      display: flex;
      flex-direction: column;
      gap: $gap-xl;
      max-width: 525px;
    }

    &__tag {
      @include font(700, 16px, 36px, $black, 7%);
      text-transform: uppercase;
    }

    &__title {
      @include font(700, 29px, 36px, $black);
    }
  }

  &--featured {
    flex-direction: column;
    justify-content: space-between;

    max-width: 100%;
    width: 100%;
    padding-block: $p-lg;

    &__image {
      height: auto;
      width: 100%;
      max-height: 500px;
    }

    &__link {
      @include font(600, 16px, 16px, #1b1c31, 0);
    }
    &__link-icon {
      width: 12px;
      margin-left: 8px;
    }

    @media (min-width: $screen-md) {
      flex-direction: row;
      max-height: 325px;
      max-width: 100%;
      width: 100%;
      padding-block: $p-lg;
      &__image {
        height: 100%;
        width: auto;
        max-width: 500px;
      }
    }
  }
}

.check-list {
  list-style-type: none;
  padding-left: 0;

  &__item {
    position: relative;
    padding-left: 26px;
    margin: 10px 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-image: url("../../assets/icons/check.png");
      background-size: 8px 6px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $blue;
      border-radius: 50%;
    }

    &--yellow {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background-image: url("../../assets/icons/check.png");
        background-size: 8px 6px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $yellow;
        border-radius: 50%;
      }
    }
  }
}

.text-input {
  padding: $p-sm;
  max-width: 250px;
  max-width: 100%;
  background-color: #eeeeff;
  color: #181433;
  border: 0;
  height: 51px;
}

.email-form {
  display: flex;
  gap: 0;
  align-items: center;
}

.input-info {
  @include font(500, 16px, 26px, $gray);
  max-width: 330px;
}
