@import "screens.scss";

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;
$gap-xl: 64px;
$gap-xxl: 128px;

$m-xxs: 4px;
$m-xs: 8px;
$m-sm: 12px;
$m-md: 16px;
$m-lg: 32px;
$m-xl: 64px;
$m-xxl: 128px;

$p-xxs: 4px;
$p-xs: 8px;
$p-sm: 12px;
$p-md: 20px;
$p-lg: 36px;
$p-xl: 64px;
$p-xxl: 128px;
