.button {
  display: inline-block;
  padding: $p-sm $p-lg;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;

  &--primary {
    @include font(500, 14px, auto, $white, 0);
    background-color: #4f46ba;
  }

  &--rounded {
    border-radius: 50px;
  }
}
