.container {
  &--xxl {
    padding: $p-lg $p-xxl;
  }

  &--blue {
    background-color: $blue;
  }

  &--lightblue {
    background-color: #c9e7f2;
  }
  &--primary {
    background: #62bada;
    background: linear-gradient(300deg, #62bada 0%, #c9e7f2 100%);
  }

  &--gray {
    background-color: #f5f6f8;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--gap-md {
    gap: $gap-md;
  }

  &--gap-lg {
    gap: $gap-lg;
  }
}
