@import "variables/screens.scss";
@import "variables/colors.scss";
@import "variables/spacing.scss";
@import "variables/typography.scss";
@import "buttons.scss";
@import "containers.scss";
@import "images.scss";
@import "misc.scss";
@import "animation.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

.header {
  @include flex(row, auto, space-between, center);

  &__logo-text {
    @include font(800, 20px, auto, $black, 0);
    flex-grow: 1;
  }
}

.nav {
  @include flex(column, $gap-lg);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  background-color: $lightblue;
  height: 100vh;
  padding: $p-xl $p-lg;

  &__links {
    @include flex(column, $gap-lg);
    list-style: none;
    width: 100%;
  }

  &__link {
    @include font(500, 14px, auto, $black, 0);
    cursor: pointer;

    &--expandable::after {
      content: "";
      display: inline-block;
      width: 14px; /* Set width for the icon */
      height: 7px;
      margin-left: $m-sm;
      margin-top: -2px;
      background-image: url("../../assets/icons/caret-down.png");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
    }
  }

  &__auth {
    @include flex(column, $gap-lg);
    width: 100%;
  }

  @media (min-width: $screen-lg) {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: unset;
    height: unset;
    padding: 0;
    flex-grow: 1;
    width: unset;
    &__links {
      flex-direction: row;
      width: unset;
    }

    &__auth {
      flex-direction: row;
      align-items: center;
      width: unset;
    }
  }
}

.hero {
  @include flex(column, $gap-lg);
  padding-block: $p-xxl $p-xxl;

  &__content {
    @include flex(column, $gap-md);
  }

  &__title {
    @include font(800, 60px, 80px, $black, -3%);
    width: 670px;
    max-width: 100%;
  }

  &__subtitle {
    @include font(500, 20px, 30px, $gray);
    width: 510px;
    max-width: 100%;
  }

  &__cta {
    margin-top: $m-lg;
    @include flex(column, $gap-lg);
  }

  &__cta-text {
    @include font(500, 17px, 30px, $blue);
  }

  &__features {
    margin-top: $m-lg;
    @include flex(row, $gap-lg);
  }

  &__feature {
    @include font(500, 17px, 30px, #757095);
    @include flex(row, $gap-sm, center);
  }

  @media (min-width: $screen-md) {
    &__cta {
      flex-direction: row;
    }
  }
}

.partners {
  @include flex(column, $gap-lg, flex-start, center);
  padding-block: $p-lg calc($p-xl + 36px);
  overflow: hidden;
  position: relative;
  &__title {
    @include font(500, 22, auto, $black, 0);
  }

  &__brands {
    position: absolute;
    top: 98px;

    max-width: 100%;
    overflow: visible;
    @include flex(row, $gap-xl);
    animation: moveLeftRight 8s infinite ease-in-out;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__brand-image {
    max-width: 138px;
  }
}

.portfolio-tracking {
  @include flex(column);
  padding-block: $p-lg;

  &__head {
    @include flex(column, $gap-md);

    @media only screen and (min-width: $screen-lg) {
      gap: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__about {
    @include flex(column, $gap-md);
  }

  &__title {
    @include font(800, 56px, 66px, $black, -3%);
    width: 645px;
    max-width: 100%;
  }

  &__subtitle {
    @include font(500, 16px, 29px, $black);
    width: 450px;
    max-width: 100%;
  }

  &__steps {
    @include flex(column, $gap-lg, center);
    margin-top: $m-xl;

    & > div:nth-child(odd) {
      margin-left: auto;
    }

    @media only screen and (min-width: $screen-md) {
      gap: $gap-md;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.feature {
  @include flex(column, $gap-lg);
  justify-content: space-between;

  &__image {
    width: 100%;
    z-index: -1;
  }
  &__about {
    @include flex(column, $gap-lg);
  }

  &__head {
    @include flex(column, $gap-sm);
  }

  &__body {
    @include flex(column, $gap-md);
  }

  &__tag {
    text-transform: uppercase;
    @include font(700, 14px, auto, $blue);
  }

  &__title {
    @include font(800, 50px, 60px, $black, -3%);
  }

  &__subtitle {
    @include font(500, 18px, 30px, $gray);
  }

  &__list {
    @include flex(column, $gap-xs);
  }

  &__list-item {
    @include font(500, 19px, 30px, $gray);
    margin-left: 16px;
  }

  @media only screen and (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    gap: $gap-lg;

    &__image {
      min-width: 500px;
    }
  }
}

.features {
  padding-block: $p-xxl;
  @include flex(column, $gap-lg);

  &__title {
    @include font(800, 71px, 66px, $black, -3%);
  }

  &__subtitle {
    @include font(600, 16px, 29px, $black);
    width: 557px;
    max-width: 100%;
  }

  &__items {
    @include flex(column, $gap-lg);
    justify-content: space-between;
  }

  &__group {
    @include flex(column, $gap-md);
  }

  @media (min-width: $screen-md) {
    &__items {
      flex-direction: row;
      gap: $gap-sm;
    }

    &__group {
      gap: $gap-lg;
    }
  }
}

.testimonials {
  padding-block: $p-xxl;

  @include flex(column, $gap-xl);

  &__head {
    @include flex(column, $gap-lg);
  }

  &__title {
    @include font(800, 71px, 66px, $black, -3%);
  }

  &__subtitle {
    @include font(600, 16px, 29px, $black);
    width: 557px;
    max-width: 100%;
  }

  &__items {
    @include flex(row, $gap-lg);
    width: 100%;
    overflow-x: hidden;
  }
}

@media (min-width: $screen-md) {
  .testimonials__items {
    flex-wrap: nowrap;
  }

  .testimonial {
    flex-direction: row;

    &__image {
      height: 100%;
      max-width: 240px;
      width: unset;
      object-fit: contain;
      border-radius: 0;
    }
  }
}

.stats {
  padding-block: $p-lg;
  @include flex(row, $gap-lg, center);

  &__subtitle {
    display: none;
  }

  &__items {
    padding-inline: $p-md;
    @include flex(row, $gap-lg, space-between);
    flex-grow: 1;
  }

  @media (min-width: $screen-md) {
    &__subtitle {
      padding-left: $p-lg $p-md $p-md;
      width: 143px;
      @include font(400, 19px, 31px, $white);
    }
  }
}

.blogs {
  &__title {
    @include font(800, 71px, 66px, $black, -3%);
    padding-block: $p-xl;
  }

  &__items {
    @include flex(row, $gap-lg);
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.faq {
  &__title {
    @include font(800, 71px, 76px, $black, -3%);
    padding-block: $p-lg;
    max-width: 590px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap-lg;
    align-items: start;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }

  &__item {
    border: 1px solid #cfcfcf;
    padding: $p-md;
    width: 100%;
    border-radius: 10px;
  }
  &__question {
    @include font(800, 22px, 22px, $black, 0);
    display: block;
  }

  &__answer {
    @include font(500, 16px, 31px, $black);
    margin-top: $m-lg;
  }

  @media (min-width: $screen-md) {
    &__content {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.banner {
  background-color: $blue;
  @include flex(column, $gap-lg, center, center);
  padding: $p-xl;
  border-radius: 20px;
  text-align: center;

  &__text {
    @include font(600, 42px, 50px, $white, -3%);
    max-width: 100%;
  }

  @media (min-width: $screen-md) {
    &__text {
      @include font(800, 56px, 61px, $white, -3%);
      max-width: 768px;
    }
  }
}

.footer {
  padding-block: $p-lg;

  &__main {
    @include flex(column, $gap-xl);
    padding-block: $p-xl;
  }

  &__company-name {
    @include font(700, 21px, 28px, $black);
  }

  &__company-desc {
    @include font(500, 16px, 28px, #757095);
  }

  &__section {
    @include flex(column, $gap-md);
    justify-content: flex-start;
  }

  &__section-title {
    @include font(700, 21px, 24px, $black, 0);
  }
  &__section-body {
    @include flex(column, $gap-md);
    @include font(500, 16px, 24px, $black, 0);

    &--compact {
      gap: $gap-sm;
    }
  }

  &__copyright {
    @include font(500, 16px, 26px, #181433);
    text-align: center;
    padding-top: $p-xl;
  }

  @media (min-width: $screen-md) {
    &__main {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
