@import "variables/screens.scss";
@import "variables/colors.scss";
@import "variables/spacing.scss";
@import "variables/typography.scss";
@import "buttons.scss";
@import "containers.scss";
@import "images.scss";
@import "misc.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-text {
    @include font(800, 20px, auto, $black, 0);
    flex-grow: 1;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  // display: flex;
  display: none;
  align-items: center;
  flex-grow: 1;
  width: 250px;
  background-color: $lightblue;
  height: 100vh;
  padding: $p-xl $p-lg;

  flex-direction: column;
  gap: $gap-lg;

  &__links {
    display: flex;
    gap: $gap-lg;
    list-style: none;
    width: 100%;
    flex-direction: column;
  }

  &__link {
    @include font(500, 14px, auto, $black, 0);
    cursor: pointer;

    &--expandable::after {
      content: "";
      display: inline-block;
      width: 14px; /* Set width for the icon */
      height: 7px;
      margin-left: $m-sm;
      margin-top: -2px;
      background-image: url("../../assets/icons/caret-down.png");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
    }
  }

  &__auth {
    display: flex;
    gap: $gap-lg;
    width: 100%;
    flex-direction: column;
  }

  @media (min-width: $screen-lg) {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: unset;
    height: unset;
    padding: 0;
    flex-grow: 1;
    width: unset;
    &__links {
      flex-direction: row;
      width: unset;
    }

    &__auth {
      flex-direction: row;
      align-items: center;
      width: unset;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  padding-block: $p-xxl $p-xxl;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }

  &__title {
    @include font(800, 60px, 80px, $black, -3%);
    width: 670px;
    max-width: 100%;
  }
  &__subtitle {
    @include font(500, 20px, 30px, $gray);
    width: 510px;
    max-width: 100%;
  }

  &__cta {
    margin-top: $m-lg;
    display: flex;
    gap: $gap-lg;
  }

  &__cta-text {
    @include font(500, 17px, 30px, $blue);
  }
  &__features {
    margin-top: $m-lg;
    display: flex;
    gap: $gap-lg;
  }
  &__feature {
    @include font(500, 17px, 30px, #757095);
    display: flex;
    gap: $gap-sm;
    align-items: center;
  }
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-lg;
  padding-block: $p-lg;
  &__title {
    @include font(500, 22, auto, $black, 0);
  }

  &__brands {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $gap-xl;
  }

  &__brand-image {
    max-width: 138px;
  }
}

.portfolio-tracking {
  display: flex;
  flex-direction: column;
  padding-block: $p-lg;

  &__head {
    display: flex;

    flex-direction: column;
    gap: $gap-md;

    @media only screen and (min-width: $screen-lg) {
      gap: 0;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &__about {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }
  &__title {
    @include font(800, 56px, 66px, $black, -3%);
    width: 645px;
    max-width: 100%;
  }

  &__subtitle {
    @include font(500, 16px, 29px, $black);
    width: 450px;
    max-width: 100%;
  }
  &__steps {
    display: flex;
    gap: $gap-lg;
    margin-top: $m-xl;
    justify-content: center;
    flex-direction: column;
    div:nth-child(odd) {
      margin-left: auto;
    }

    @media only screen and (min-width: $screen-md) {
      gap: $gap-md;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.feature {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: $gap-lg;

  &__image {
    width: 100%;

    z-index: -1;
  }
  &__about {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }

  &__tag {
    text-transform: uppercase;
    @include font(700, 14px, auto, $blue);
  }

  &__title {
    @include font(800, 50px, 60px, $black, -3%);
  }

  &__subtitle {
    @include font(500, 18px, 30px, $gray);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;
  }

  &__list-item {
    @include font(500, 19px, 30px, $gray);
    margin-left: 16px;
  }

  @media only screen and (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    gap: $gap-lg;

    &__image {
      min-width: 500px;
    }
  }
}

.features {
  padding-block: $p-xxl;
  display: flex;
  flex-direction: column;
  gap: $gap-lg;

  &__title {
    @include font(800, 71px, 66px, $black, -3%);
  }

  &__subtitle {
    @include font(600, 16px, 29px, $black);
    width: 557px;
    max-width: 100%;
  }
  &__items {
    display: flex;
    gap: $gap-lg;
    justify-content: space-between;
    flex-direction: column;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }

  @media (min-width: $screen-md) {
    &__items {
      flex-direction: row;
      gap: $gap-sm;
    }

    &__group {
      gap: $gap-lg;
    }
  }
}

.testimonials {
  padding-block: $p-xxl;
  display: flex;
  flex-direction: column;

  gap: $gap-xl;

  &__head {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
  }
  &__title {
    @include font(800, 71px, 66px, $black, -3%);
  }

  &__subtitle {
    @include font(600, 16px, 29px, $black);
    width: 557px;
    max-width: 100%;
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: $gap-lg;
    overflow-x: hidden;
  }
}

.stats {
  padding-block: $p-lg;
  display: flex;
  gap: $gap-lg;
  align-items: center;
  &__subtitle {
    display: none;
  }

  &__items {
    padding-inline: $p-md;
    display: flex;
    gap: $gap-lg;
    justify-content: space-between;
    flex-grow: 1;
  }

  @media (min-width: $screen-md) {
    &__subtitle {
      padding-left: $p-lg $p-md $p-md;
      width: 143px;
      @include font(400, 19px, 31px, $white);
    }
  }
}

.blogs {
  &__title {
    @include font(800, 71px, 66px, $black, -3%);
    padding-block: $p-xxl;
  }

  &__items {
    display: flex;
    gap: $gap-lg;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.faq {
  &__title {
    @include font(800, 71px, 76px, $black, -3%);
    padding-block: $p-lg;
    max-width: 590px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap-lg;
    align-items: start;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }

  &__item {
    border: 1px solid #cfcfcf;
    padding: $p-md;
    width: 100%;
    border-radius: 10px;
  }
  &__question {
    @include font(800, 22px, 22px, $black, 0);
    display: block;
  }

  &__answer {
    @include font(500, 16px, 31px, $black);
    margin-top: $m-lg;
  }

  @media (min-width: $screen-md) {
    &__content {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.banner {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap-lg;
  padding: $p-xl;
  border-radius: 20px;
  text-align: center;
  &__text {
    @include font(600, 42px, 50px, $white, -3%);
    max-width: 100%;
  }

  @media (min-width: $screen-md) {
    &__text {
      @include font(800, 56px, 61px, $white, -3%);
      max-width: 768px;
    }
  }
}
